/*
#2F4858
#33658A
#86BBD8
#F6AE2D
#F26419
*/
$clr-dark-blue: #2f4858;
$clr-blue: #33658a;
$clr-light-blue: #86bbd8;

$clr-white: #fff9ee;

$clr-orange-blaze: #f26419;
$clr-orange-regular: #f68e2d;

$clr-orange-background: #ffe0c0;
$clr-orange-selection: #ffd186;
