$clr-blue-dark: #2f4858;
$clr-blue-regular: #2b77b0;
$clr-blue-light: #86bbd8;

$clr-blue-faint: #a8dceda0;
$clr-blue-transparent: #000c5045;

$clr-white: #fff9ee;

$clr-orange-blaze: #f26419;
$clr-orange-regular: #f68e2d;

$clr-orange-background: #ffe0c0;
$clr-orange-selection: #ffd186;
$clr-orange-faint: #ffe8d0;
