@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.background {
  width: 100vw;
  background: linear-gradient(
    178deg,
    g.$clr-white -10%,
    g.$clr-orange-background 30%,
    g.$clr-orange-selection 150%
  );

  padding-top: 1.5rem;
  padding-left: var(--inset);
  padding-right: var(--inset);
  padding-bottom: 1.5rem;
}

.header_area,
.header_area hgroup {
  display: inline-block;
  overflow: visible;
}

.title {
  display: inline;
  color: g.$clr-orange-blaze;
  font-size: clamp(2rem, 11.5vw, 4rem);
  line-height: 1;

  &::selection {
    background-color: g.$clr-orange-selection;
  }
}

.title_a {
  color: g.$clr-orange-regular;
  font-weight: 300;
}

.title_b {
  font-weight: 600;
  overflow: visible;
}

.search_group {
  @include mixins.flex(row, flex-start, flex-start, 0.5rem);
  padding: 4px;

  input,
  button {
    border: 2px solid g.$clr-orange-regular;
    background-color: g.$clr-white;
    padding: 2px 6px;

    &:hover {
      border-color: g.$clr-orange-blaze;
      box-shadow: 0 0 4px g.$clr-orange-blaze;
    }
  }

  input {
    flex: 1;
    width: 0;

    &:focus {
      box-shadow: 0 0 4px g.$clr-orange-blaze;
      outline: 0 none;
    }

    &::selection {
      background-color: g.$clr-orange-selection;
    }
  }

  button {
    text-wrap: nowrap;
    cursor: pointer;

    &:active {
      background-color: g.$clr-orange-faint;
    }
  }
}
