@use "../../sass/global" as g;
@use "../../sass/mixins";

.book_list {
  @include mixins.flex(row, center, flex-start, 1rem 0);
  flex-wrap: wrap;
  width: var(--main-width);

  padding: 1rem 0;
  background-color: g.$clr-white;
}
