@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.book_list {
  @include mixins.flex(row, flex-start, flex-start, 0.5rem 0);
  flex-wrap: wrap;
  width: var(--main-width);

  padding-top: 2rem;
  padding-bottom: 6rem;
  overflow: visible;

  &.loading {
    @include q.phone {
      > :nth-child(n + 3) {
        display: none;
      }
    }

    @include q.tablet {
      > :nth-child(n + 5) {
        display: none;
      }
    }

    @include q.desktop {
      > :nth-child(n + 7) {
        display: none;
      }
    }
  }
}
