@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.book_list {
  @include mixins.flex(row, flex-start, flex-start, 1.5rem 0);
  flex-wrap: wrap;
  width: var(--main-width);

  padding: 2rem 0;
  overflow: visible;

  &.loading {
    @include q.phone {
      > :nth-child(n + 3) {
        display: none;
      }
    }

    @include q.tablet {
      > :nth-child(n + 5) {
        display: none;
      }
    }

    @include q.desktop {
      > :nth-child(n + 7) {
        display: none;
      }
    }
  }
}

.error {
  text-align: center;
  padding: 2rem;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 400;
}
