@use "../../sass/global" as g;
@use "../../sass/mixins";

.book_list {
  @include mixins.flex(row, center, flex-start, 0.5rem 0);
  flex-wrap: wrap;
  width: var(--main-width);

  padding-top: 2rem;
  padding-bottom: 6rem;
  overflow: visible;
}
