@use "../../sass/global" as g;
@use "../../sass/mixins";

.book_list {
  @include mixins.flex(row, center, flex-start, 0.5rem);
  flex-wrap: wrap;
  width: var(--main-width);

  padding: 1rem 0;
  border: 1px solid green;
}
