@use "./sass/global" as g;
@use "./sass/media-queries" as q;
@use "./sass/mixins";

.main {
  @include mixins.flex(column, flex-start, center, 0);
  min-height: 100vh;
  width: 100vw;
}

.main_modal {
  overflow: hidden;
}
