@use "./sass/global" as g;
@use "./sass/mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-synthesis: none;
  font-size: 1rem;

  color: g.$clr-blue-dark;
  line-height: 1.5;
  text-decoration: none;

  overflow-x: hidden;
  scroll-behavior: smooth;

  &::selection {
    background-color: g.$clr-blue-light;
  }
}

html {
  width: 100vw;
  height: 100%;

  background: linear-gradient(
    90deg,
    g.$clr-orange-background 0%,
    g.$clr-white max(8rem, var(--inset)),
    g.$clr-white calc(100% - max(8rem, var(--inset))),
    g.$clr-orange-background 100%
  );
}

body,
#root {
  width: 100vw;
  height: 100vh;
}

:root {
  --main-width: min(95vw, 80rem);
  --inset: calc((100vw - var(--main-width)) * 0.5);
}

hr {
  border: 1px solid g.$clr-blue-light;
}
