@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.main {
  @include mixins.flex(column, flex-start, flex-start, 0.5rem);
  aspect-ratio: 1 / 3;

  @include q.phone {
    flex: 0 0 50%;
    gap: 0;
  }

  @include q.tablet {
    flex: 0 0 25%;
  }

  @include q.desktop {
    flex: 0 0 16.666%;
    aspect-ratio: 1 / 2.5;
  }

  padding: 0.25rem 0.25rem 0 0.25rem;
  background-color: transparent;
  overflow: hidden;

  transition: all 100ms ease-in-out;
  transform: scale(1);

  mask-image: linear-gradient(
    to bottom,
    black calc(100% - 3rem),
    transparent calc(100% - 0.5rem)
  );

  &:not(.fake) {
    cursor: pointer;

    &:hover {
      background-color: g.$clr-blue-faint;
      transform: scale(1.025);
      z-index: 1;
    }
  }

  &.fake {
    opacity: 0.75;
    pointer-events: none;
  }
}

.image_area {
  width: 100%;
  overflow: hidden;
  border: 1px solid g.$clr-blue-regular;
  flex-shrink: 0;
  background-color: g.$clr-white;

  height: 50%;
  @include q.desktop {
    height: 60%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  p {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
  }

  &.fake {
    background: linear-gradient(
      180deg,
      g.$clr-white,
      g.$clr-blue-faint,
      g.$clr-blue-faint,
      g.$clr-white,
      g.$clr-blue-faint,
      g.$clr-blue-faint,
      g.$clr-white
    );
    background-size: 200% 200%;
    animation: gradient 1s ease infinite;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% -100%;
  }
}

.title {
  font-weight: 700;
  text-align: center;
  flex-shrink: 0;
  font-size: clamp(0.75rem, 3vw, 1rem);
  width: 100%;
}

.author {
  width: 100%;
  flex-shrink: 0;

  p {
    font-weight: 200;
    color: g.$clr-blue-regular;
    font-size: clamp(0.9rem, 3vw, 1rem);
  }
}

.description {
  flex: 1;
  font-size: 0.9rem;
  overflow: hidden;
}
