@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.main {
  width: calc(var(--main-width) / 3 - 0.5rem);
  @include q.desktop {
    width: calc(var(--main-width) / 5 - 0.5rem);
  }

  aspect-ratio: 1 / 2.5;
  @include mixins.flex(column, flex-start, flex-start, 0.5rem);

  cursor: pointer;
  padding: 0.25rem;

  transition: all 100ms ease-in-out;
  border: 1px solid g.$clr-white;
  transform: scale(1);

  &:hover {
    border-color: g.$clr-light-blue;
    transform: scale(1.025);
  }
}

.image_area {
  width: 100%;
  height: 66%;
  padding-bottom: 0.5rem;
  overflow: hidden;
  border: 1px solid g.$clr-light-blue;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  font-weight: 700;
  text-align: center;
}

.author {
  width: 100%;

  p {
    font-weight: 200;
    color: g.$clr-blue;
  }

  hr {
    border-color: g.$clr-light-blue;
  }
}

.description {
  flex: 1;
  font-size: 0.9rem;
  overflow: hidden;
}
