@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.main {
  flex: 0 0 50%;
  aspect-ratio: 1 / 3;
  @include mixins.flex(column, flex-start, flex-start, 0);

  @include q.desktop {
    flex: 0 0 20%;
    aspect-ratio: 1 / 2.5;
    gap: 0.5rem;
  }

  cursor: pointer;
  padding: 0.25rem 0.25rem 0 0.25rem;
  background-color: g.$clr-white;
  overflow: hidden;

  transition: all 100ms ease-in-out;
  border: 1px solid g.$clr-white;
  transform: scale(1);

  &:hover {
    border-color: g.$clr-light-blue;
    transform: scale(1.025);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 2;
    background: linear-gradient(
      180deg,
      transparent calc(100% - 2rem),
      g.$clr-white calc(100% - 0.5rem)
    );
  }
}

.image_area {
  width: 100%;
  height: 60%;
  overflow: hidden;
  border: 1px solid g.$clr-light-blue;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  p {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.title {
  font-weight: 700;
  text-align: center;
  flex-shrink: 0;
  font-size: clamp(0.75rem, 3vw, 1rem);
}

.author {
  width: 100%;
  flex-shrink: 0;

  p {
    font-weight: 200;
    color: g.$clr-blue;
    font-size: clamp(0.9rem, 3vw, 1rem);
  }

  hr {
    border: 1px solid g.$clr-light-blue;
  }
}

.description {
  flex: 1;
  font-size: 0.9rem;
  overflow: hidden;
}
